p {
  color: red;
}
h1 {
  color: blue;
}
img {
  height: 300px;
}

input {
  border-radius: 50%;
}
/* button:first-child {
  color: red;
} */

.firstButton {
  color: pink;
}

.thirdButton {
  height: 30px;
}

.lastButton {
  height: 5rem;
  padding: 20px;
  font-size: 30px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

#trulyLastButton {
  color: cornflowerblue;
}

.box {
  border: 2px red solid;
  margin: 20px 20px 200px 10px;
  padding: 200px 10px 20px 100px;
}
.centerMe {
  height: 200px;
  width: 200px;
  border: 1px solid red;
  margin: auto;
  text-align: center;
}
.centertext {
  margin: 41%;
  /* text-align: center;
  vertical-align: middle; */
}
